<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header><%- include("../partials/header"); %></header>
    <div class="wrapper">
        <% themes.forEach(theme => { %>
            <div class="theme-card">
                <a href="/themes/view/<%- theme.id %>">
                    <img src="<%= theme.img_url %>" alt="<%= theme.title %>"
                    <h2><%= theme.title %></h2>
                    <p><%= theme.description %></p>
                </a>
                <div>
                    <form action="/themes/delete/<%= theme.id %>" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="delete-button" type="submit">Reject</button>
                    </form>
                    <form action="/admin/approve/<%= theme.id %>" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="approve-button" type="submit">Approve</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>