<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Links</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header><%- include("../partials/header"); %></header>
    <div class="form-container">
      <p><%= theme.description %></p>
      <div class="link-container">
        <% links.forEach(link => { %>
        <div class="link-item">
          <div class="link-dots">
            <a href="<%= link.url %>"><%= link.title %></a>
          </div>
          <form action="/links/<%= link.id %>/vote" method="POST">
            <button type="submit"><%= link.vote_count %></button>
          </form>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
